<h1>Demo#hello</h1>
<p>Find me in app/views/demo/hello.html.erb</p>


<% @array.each do |n| %>
  <%= n %><br/>
<% end %>
<br/>


ID: <%= @id %><br/>
ID: <%= params[:id] %><br/>
Page: <%= @page %><br/>